<div class="container">
  <h1><%= @user.name %>さんとのチャット</h1>
  <div class="row">
    <div class="col-md-4 justify-content-end">
      <div>
        <% @messages.each do |message| %>
        <div class="bg-light text-dark p-2 m-2 text-right text-wrap">
          <%= message.text %>
        </div>
        <% end %>
      </div>
      <div>
        <% if @message.errors %>
         <% @message.errors.full_messages.each do |error| %>
           <%= error %>
        <% end %>
        <% end %>
        <%= form_with model:@message, url:chat_room_messages_path(@chat_room.id), local:true do |f| %>
        <%= f.text_field :text %>
        <%= f.submit "送信" %>
        <% end %>
      </div>
    </div>
  </div>
</div>